TAILSAFE_VERSION=0.1.0
TAILSAFE_IMAGE_NAMESPACE=ghcr.io/pixeljonas/tailsafe
TZ=Europe/Berlin
TS_OUTBOUND_AUTHKEY=tskey-client-outbound
TS_OUTBOUND_HOSTNAME=tailsafe-outbound
TS_ENDPOINT_AUTHKEY_FRIEND_B=tskey-client-endpoint-friend-b
TS_ENDPOINT_HOSTNAME_FRIEND_B=tailsafe-endpoint-friend-b
TS_ENDPOINT_AUTHKEY_FRIEND_C=tskey-client-endpoint-friend-c
TS_ENDPOINT_HOSTNAME_FRIEND_C=tailsafe-endpoint-friend-c
TAILSAFE_REMOTE_BACKUP_HTTP_PASSWORD_FRIEND_B=change-me
TAILSAFE_REMOTE_MAINT_HTTP_PASSWORD_FRIEND_B=change-me
TAILSAFE_REMOTE_BACKUP_HTTP_PASSWORD_FRIEND_C=change-me
TAILSAFE_REMOTE_MAINT_HTTP_PASSWORD_FRIEND_C=change-me
TAILSAFE_INBOUND_BACKUP_HTTP_PASSWORD_FRIEND_B=change-me
TAILSAFE_INBOUND_MAINT_HTTP_PASSWORD_FRIEND_B=change-me
TAILSAFE_INBOUND_BACKUP_HTTP_PASSWORD_FRIEND_C=change-me
TAILSAFE_INBOUND_MAINT_HTTP_PASSWORD_FRIEND_C=change-me
RESTIC_REPOSITORY_PASSWORD=change-me
BACKREST_BIND_PORT=9898
BACKREST_DATA_ROOT=/volume1/tailsafe/backrest
REPO_DATA_ROOT=/volume1/tailsafe/repos
TAILSAFE_STATE_ROOT=/volume1/tailsafe/state
USERDATA_ROOT=/volume1/tailsafe/userdata
SITE_CONFIG_PATH=../config/site.json
