TAILSAFE_VERSION=0.1.0
TAILSAFE_IMAGE_NAMESPACE=ghcr.io/pixeljonas/tailsafe
TZ=Europe/Berlin
TS_OUTBOUND_AUTHKEY=tskey-client-outbound
TS_OUTBOUND_HOSTNAME=tailsafe-outbound
TS_ENDPOINT_AUTHKEY=tskey-client-endpoint
TS_ENDPOINT_HOSTNAME=tailsafe-endpoint
TAILSAFE_BACKUP_HTTP_USER=backup
TAILSAFE_BACKUP_HTTP_PASSWORD=change-me
TAILSAFE_MAINT_HTTP_USER=maint
TAILSAFE_MAINT_HTTP_PASSWORD=change-me
RESTIC_REPOSITORY_PASSWORD=change-me
BACKREST_BIND_PORT=9898
BACKREST_DATA_ROOT=/volume1/tailsafe/backrest
REPO_DATA_ROOT=/volume1/tailsafe/repos
TAILSAFE_STATE_ROOT=/volume1/tailsafe/state
USERDATA_ROOT=/volume1/tailsafe/userdata
SITE_CONFIG_PATH=../config/site.json
